.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  padding: 16px;
  text-align: center;
  color: #d8d8d8;
}
.container > p {
  margin-top: 0;
  padding-top: 0;
}
@media only screen and (max-width: 320px) {
  .container {
    margin-top: 40px;
  }
  img {
    width: 200px;
  }
  .container > h1 {
    font-size: 28px;
  }
}
