/* ROOT VARIABLES */
:root {
  --primary_dark_color: #27323a;
  --secondary_dark_color: #435055;
  --primary_color: #a3f7bf;
  --placeholder_color: #757575;
}

* {
  accent-color: var(--primary_color);
}
html {
  scroll-behavior: smooth;
}

[data-reach-dialog-content] {
  width: min(75vw, 400px) !important;
  background: var(--secondary_dark_color) !important;
  border-radius: 8px;
  padding: 20px !important;
  margin: 15vh auto !important;
}
