/* ROOT VARIABLES */
:root {
  --primary_dark_color: #27323a;
  --secondary_dark_color: #435055;
  --primary_color: #a3f7bf;
}

/* EDITOR STYLES */
.ProseMirror {
  min-height: 30vh !important;
  background-color: transparent !important;
  border-radius: 8px;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  color: rgb(190, 190, 190) !important;
  margin-bottom: 20px;
}

.ProseMirror .block-menu-trigger {
  margin-top: 2px !important;
  margin-left: -39px !important;
}
.ProseMirror .block-menu-trigger svg {
  fill: #4d4d4d !important;
}
.ProseMirror .heading-content {
  font-weight: 900;
}
.ProseMirror .content {
  min-height: unset !important;
}
.ProseMirror hr::before {
  border-color: #c1c1c1 !important;
}
.ProseMirror hr.page-break::before {
  border-color: #c1c1c1 !important;
}
.ProseMirror .placeholder::before {
  color: #4d4d4d !important ;
}
.ProseMirror .notice-block .icon {
  top: 4px !important;
}
.ProseMirror pre {
  border-radius: 6px !important;
  padding: 20px !important;
  background: #222222 none repeat scroll 0% 0% !important;
  margin: 10px 0 !important;
}
.ProseMirror table .grip-column::after {
  background-color: var(--secondary_dark_color) !important;
  border-bottom: 3px solid #00000071 !important;
}
.ProseMirror table td,
.ProseMirror table th {
  border: 2px solid #ffffff2a !important;
}
.ProseMirror .scrollable-wrapper:hover ::-webkit-scrollbar {
  background-color: #0000002a !important;
}
.ProseMirror .scrollable-wrapper:hover ::-webkit-scrollbar-thumb {
  border-color: transparent !important;
  background-color: var(--secondary_dark_color) !important;
}
.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  color: #ffffff;
  display: block;
  font-weight: bold;
  margin-left: 0;
  margin-right: 0;
}
.ProseMirror h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}
.ProseMirror h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}
.ProseMirror h3 {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.ProseMirror h4 {
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}
.ProseMirror h5 {
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}
.ProseMirror h6 {
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}
.ProseMirror li {
  margin-left: 10px;
}

@media only screen and (max-width: 700px) {
  .ProseMirror {
    font-size: 18px;
  }
  .ProseMirror h1 {
    font-size: 1.4em;
    margin-top: 0.6em;
    margin-bottom: 0.64em;
  }
  .ProseMirror h2 {
    font-size: 1.17em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }
  .ProseMirror h3 {
    font-size: 1.33em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
  }
}
