.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: min(40vw, 500px);
}
.searchBar {
  display: flex;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background-color: transparent;
  width: 100%;
  padding: 4px;
  border-radius: 5px;
}
.searchBar input {
  border: none;
  background-color: transparent;
  text-align: center;
  font-family: nunito;
  width: 100%;
  font-size: 18px;
  padding: 0;
  margin: 0;
}
.searchBar input:focus {
  outline: none;
}
.notrixShareIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid var(--secondary_dark_color);
  border-radius: 5px;
  padding-right: 5px;
  font-family: nunito;
  color: #a1a1a1;
}
.brandingSymbol {
  border-right: 1px solid var(--secondary_dark_color);
  color: #a1a1a1;
  font-family: "Vollkorn", serif;
  padding: 5px;
  font-size: 16px;
  margin-right: 5px;
  height: 15px;
  width: 15px;
  text-align: center;
  line-height: 1.2;
}
.notrixShareGoBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--secondary_dark_color);
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.notrixShareGoBtn:hover {
  filter: brightness(1.2);
}
.notrixShareGoBtn:focus {
  outline: 2px solid rgba(255, 255, 255, 0.07);
  filter: brightness(1.1);
}
.notrixShareGoBtn:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.notrixShareGoBtn:hover:after {
  width: 120%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.resultsContainer {
  z-index: 9999999;
  position: absolute;
  top: 45px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px 0 20px;
  background-color: var(--primary_dark_color);
  border-radius: 4px;
  border: 1px solid #ffffff2a;
}
.searchResult {
  font-size: 18px;
  border-bottom: 1px solid #ffffff2a;
}
.searchResultInnerContainer {
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 20px;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  font-family: nunito;
  font-size: 18px;
  width: 100%;
  text-align: left;
}
.searchResultInnerContainer:hover,
.searchResultInnerContainer:focus {
  background-color: #ffffff1a;
  outline: none;
}
.searchResult:last-child {
  border: 0;
}
.searchResultColor {
  width: 20px;
  flex-shrink: 0;
  height: 20px;
  border-radius: 900px;
}

.loaderWheel {
  animation: spin 1s infinite linear;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-left: 2px solid #fff;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 0 auto;
    border-bottom: -1px solid rgba(255, 255, 255, 0.1);
    padding-block: 10px;
    margin-top: -20px;
    width: unset;
    background-color: var(--primary_dark_color);
  }
  .searchBar {
    width: 90vw;
    padding: 5px;
  }
  .searchBar input {
    font-size: 16px;
  }
  .resultsContainer {
    margin-top: 8px;
  }
  .searchResult {
    padding-left: 20px;
    padding-right: 20px;
  }
}
