.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: min(40vw, 500px);
}
.searchBar {
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background-color: transparent;
  text-align: center;
  font-family: nunito;
  width: 100%;
  font-size: 18px;
  padding: 4px;
  border-radius: 5px;
}
.searchBar:focus {
  outline: none;
}
.resultsContainer {
  z-index: 9999999;
  position: absolute;
  top: 45px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px 0 20px;
  background-color: var(--primary_dark_color);
  border-radius: 4px;
  border: 1px solid #ffffff2a;
}
.searchResult {
  font-size: 18px;
  border-bottom: 1px solid #ffffff2a;
}
.searchResultInnerContainer {
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 20px;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  font-family: nunito;
  font-size: 18px;
  width: 100%;
  text-align: left;
}
.searchResultInnerContainer:hover,
.searchResultInnerContainer:focus {
  background-color: #ffffff1a;
  outline: none;
}
.searchResult:last-child {
  border: 0;
}
.searchResultColor {
  width: 20px;
  flex-shrink: 0;
  height: 20px;
  border-radius: 900px;
}
@media only screen and (max-width: 600px) {
  .container {
    margin: 0 auto;
    border-bottom: -1px solid rgba(255, 255, 255, 0.1);
    padding-block: 10px;
    margin-top: -20px;
    width: unset;
    background-color: var(--primary_dark_color);
  }
  .searchBar {
    width: 90vw;
    padding: 5px;
    font-size: 16px;
  }
  .resultsContainer {
    margin-top: 8px;
  }
  .searchResult {
    padding-left: 20px;
    padding-right: 20px;
  }
}
