.container {
  margin: 20px 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h4 {
  width: min(820px, 90vw);
  border-radius: 8px;
  background-color: #0000001f;
  color: #fff;
  padding: 20px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
.Footerlink {
  color: var(--primary_color);
}
