.container {
  display: flex;
  padding: 26px 20px;
  justify-content: space-between;
  background-color: var(--primary_dark_color);
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  margin-bottom: 20px;
}
.branding {
  display: flex;
  align-items: center;
  color: var(--primary_color);
  cursor: pointer;
  font-size: 28px;
  font-weight: 900;
  margin: 0;
}
.brandingSymbol,
.brandingLettering {
  font-family: "Vollkorn", serif;
}
.brandingSymbol {
  background-color: var(--primary_color);
  color: var(--primary_dark_color);
  padding: 5px;
  font-size: 24px;
  margin-right: 12px;
  border-radius: 5px;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 1.2;
}
.brandingLettering {
  margin-top: 5px;
  line-height: 0;
}
.createNotesBtn {
  background-color: transparent;
  border: none;
}
.createNotesBtn:focus {
  outline: none;
}
.createNotesIcon {
  cursor: pointer;
}
