.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  min-height: calc(100vh - 300px);
}
.SavedNotesText {
  color: #cfcfcf;
  font-family: "Vollkorn", serif;
  text-align: center;
}
.createNotesBtn {
  margin-top: 30px;
  background-color: #47ff6f;
  padding: 10px;
  border: 0;
  border-radius: 8px;
  color: #222;
  font-weight: bold;
  cursor: pointer;
}
.notfound {
  background-color: rgb(95, 49, 49);
  width: min(800px, 90vw);
  margin: 10px auto;
  padding: 5px 30px;
  border-radius: 12px;
}

.noNotesFoundImg {
  width: 30;
}

.NoNotesDetectedContainer {
  margin: 8vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(160, 160, 160);
}
.NoNotesDetectedContainer > p {
  margin-top: 0;
  padding-top: 0;
}
