.container_wraper {
  margin: 0 auto;
  max-width: 900px;
  overflow: hidden;
}
.container {
  margin: 0 10px;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleBox,
.notesBox {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  color: #fff;
  resize: none;
}
.titleBox:focus,
.notesBox:focus {
  outline: none;
}
.titleBoxWraper {
  width: 100%;
}
.titleBox {
  text-align: left;
  background-color: transparent;
  font-size: 45px;
  font-family: Palatino, Georgia, serif;
  font-weight: 900;
  caret-color: #47ff6f;
  overflow: hidden;
}
.notesBox {
  background-color: transparent;
  border-radius: 8px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 100;
  color: rgb(190, 190, 190);
  overflow: hidden;
  margin-bottom: 30px;
}
.ShowNotesContent {
  white-space: pre-line;
}
.saveMessage {
  margin: 20px 0;
  background-color: transparent;
  padding: 5px 30px;
  border-radius: 90px;
  border: 1px solid #47ff6f;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: #47ff6f;
}
.deleteNoteBtn,
.backBtn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: #ff6347;
  color: #363636;
  font-weight: 900;
  cursor: pointer;
}
.backBtn {
  background: #47ff6f;
  color: #363636;
}
.notesBtnsContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
}
