.container_wraper {
  margin: 0 auto;
  max-width: 800px;
}
.container {
  max-width: 800px;
  margin: 0 30px;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleBox,
.notesBox {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  color: #fff;
  resize: none;
}
.titleBox:focus,
.notesBox:focus {
  outline: none;
}
.titleBox {
  background-color: transparent;
  font-size: 45px;
  font-family: Palatino, Georgia, serif;
  font-weight: 900;
  caret-color: #47ff6f;
}
.notesBox {
  background-color: transparent;
  border-radius: 8px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 100;
  color: rgb(190, 190, 190);
}
.ShowNotesContent {
  white-space: pre-line;
}
.deleteNoteBtn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: #414141;
  color: #818181;
  font-weight: 900;
  cursor: pointer;
}
