.container {
  background-color: #2c2c2c;
  width: 80vw;
  max-width: 850px;
  margin: 10px auto;
  padding: 5px 30px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}
.content_wraper {
  margin-left: 20px;
}
.title {
  font-family: Palatino, Georgia, serif;
  font-size: 30px;
  color: #fff;
  margin-bottom: 0;
}
.titleLink {
  color: rgb(180, 180, 180);
  text-decoration: none;
}

.content {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(143, 143, 143);
}
.decor {
  position: absolute;
  left: 0;
  background-color: #47ff5f;
  height: 100%;
  width: 15px;
}
