.wrapper {
  min-height: calc(100vh - 90px);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 900px;
}
.SavedNotesText {
  color: #cfcfcf;
  font-family: "Vollkorn", serif;
  text-align: center;
}
.createNotesBtn {
  margin-top: 30px;
  background-color: #47ff6f;
  padding: 10px;
  border: 0;
  border-radius: 8px;
  color: #222;
  font-weight: bold;
  cursor: pointer;
}
.notfound {
  background-color: rgb(95, 49, 49);
  width: min(800px, 90vw);
  margin: 10px auto;
  padding: 5px 30px;
  border-radius: 12px;
}

.noNotesFoundImg {
  width: 30;
}

.NoNotesDetectedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  color: rgb(160, 160, 160);
}
.NoNotesDetectedContainer > p {
  margin-top: 0;
  padding-top: 0;
}
@media only screen and (max-width: 700px) {
  .SavedNotesText {
    font-size: 28px;
  }
}
